<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	<section name="extractSettings" type="System.Configuration.NameValueSectionHandler"/>
	<section name="loadSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="Mode" value="Debug Mode" />
		<!--Folder Path-->
		<add key="ExtractCfgFolder" value=".\extract\_cfg" />
		<add key="ExtractCsvFolder" value=".\extract\_csv" />
		<add key="ExtractZipFolder" value=".\extract\_zip" />
		<add key="LoadCfgFolder" value=".\load\_cfg" />
		<add key="LoadCsvFolder" value=".\load\_csv" />
		<add key="LoadZipFolder" value=".\load\_zip" />
		<add key="BackupFolder" value=".\backup" />
		<add key="SuccessFolder" value="success" />
		<add key="FailureFolder" value="failure" />
		<!--History Path-->
		<add key="EtlHistoryPath" value="history.xml" />
		<add key="Mode" value="Release Mode" />
		<!--Folder Path-->
		<add key="ExtractCfgFolder" value=".\extract\_cfg" />
		<add key="ExtractCsvFolder" value=".\extract\_csv" />
		<add key="ExtractZipFolder" value=".\extract\_zip" />
		<add key="LoadCfgFolder" value=".\load\_cfg" />
		<add key="LoadCsvFolder" value=".\load\_csv" />
		<add key="LoadZipFolder" value=".\load\_zip" />
		<add key="BackupFolder" value=".\backup" />
		<add key="SuccessFolder" value="success" />
		<add key="FailureFolder" value="failure" />
		<!--History Path-->
		<add key="EtlHistoryPath" value="history.xml" />

		<!--FTP Settings-->
		<add key="FtpIp" value="{IP}" />
		<add key="FtpPort" value="{Port}" />
		<add key="FtpId" value="{id}" />
		<add key="FtpPwd" value="{password}" />

		<!--FDW  Settings-->
		<add key="FdwServer" value="{IP}" />
		<add key="FdwPort" value="{Port}" />
		<add key="FdwId" value="{id}" />
		<add key="FdwPwd" value="{password}" />
		<!--DB Settings-->
		<add key="CommandTimeout" value="1200" />
	</appSettings>
	<!--Edge DB List-->
	<extractSettings>
		<add key="{value}" value="{LoadDatabase};{LoadSchema};{DatabaseType};{Ip};{Port};postgres;{id};{ExtractSchema}" />
	</extractSettings>

	<!--Not used yet-->
	<loadSettings>

	</loadSettings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<publisherPolicy apply="no" />
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
				<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
</configuration>