<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info">
	<targets>
		<target name="file"
            xsi:type="File"
		    layout = "${longdate} | ${level:uppercase=true} | ${logger} | ${aspnet-request-host} | ${machinename} | ${aspnet-request-useragent} 
                      ${newline}Method=${aspnet-request-method} | URL=${aspnet-request-url} | Message=${message} ${exception:format=tostring}${newline}"
            fileName="${basedir}\Log\${shortdate}.log"
            archiveFileName="${basedir}\Log\${shortdate}.log"
            maxArchiveFiles="14"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="104857600"
            archiveDateFormat="yyyyMMdd" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="file"     />
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Info" wrtieTo="console"  />
		<logger name="*" minlevel="Info" writeTo="eventlog" />
	</rules>
</nlog>